/*Title, body*/
h1 {
    text-align: center;
    color: darkred;
    font-size: 90px;
    font-weight: bolder;
    font-family: cursive;
    margin: 10px;
}

body {
    font-size: 26px;
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
}

/*Round counter*/
#roundText {
    font-weight: 550;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

/*Choices*/
.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:100px;
}

#rock, #paper, #scissors {
    font-size: 39px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 50px;
    text-align:center;
    color:black;
    background-color: white;
    border: 5.5px solid brown; 
    border-radius: 12px;
}

#scissors {
    padding: 10px 40px;
}

/*Score counter, result display*/
#result {
    margin:0;
    font-size: 28px;
}

